.server {
    margin-bottom: $padding * 5;

    &-header {
        color: $white;
        font-size: $largeFontSize;
        letter-spacing: $smallFontSize;
        text-align: center;
        text-transform: uppercase;
        padding: $largeFontSize;
    }

    &__tag {
        color: $grey;
        font-size: $smallFontSize;
        font-weight: bold;
        text-align: right;
        padding: $smallFontSize / 2;
    }

    &__header {
        font-size: 1rem;
    }

    iframe {
        height: 280px;
    }
}