$bodyFontSize: 0.8rem;
$smallHeader: 1rem;
$smallFontSize: 0.5rem;
$mediumFontSize: 1.2rem;
$largeFontSize: 1.6rem;

$white: #ffffff;
$lightGrey: #d2d2d2;
$grey: #7b868a;
$black: #212529;

$textColour: $black;

$padding: 30px;

@import './components/Rules/Rules.scss';
@import './components/Servers/Servers.scss';

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    color: $textColour;
    font-size: $bodyFontSize;
}

.navbar-nav {
    flex-direction: row !important;

    .nav-item {
        padding: $smallFontSize !important;
    }
}

.toast {
    max-width: 100% !important;
}

#app-wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: $padding;
    background-image: url(../src/images/background.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}