.monetization,
.server-rules {
    background: $white;
    margin: $padding 0 $padding * 5;
    opacity: 1;

    &__header {
        color: $textColour;
        margin: 0;
        padding: $smallFontSize;
    }

    &__body {
        padding: $smallFontSize ($smallFontSize * 2.5);
    }

    h3 {
        font-size: $mediumFontSize;
        letter-spacing: $smallFontSize / 2;
        text-transform: capitalize;
        border-top: 1px solid $lightGrey;
        border-bottom: 1px solid $lightGrey;
        margin: $largeFontSize 0 $smallFontSize;
        padding: $smallFontSize 0;
    }
}